# Log server messages to stdout
logging:
  file:
    level: 'debug'
    out: '-'

listeners:
  # Listen for requests on port `5433`
  ':5432':
    # PostgreSQL server to forward requests to
    target:
      host: '127.0.0.1'
      port: 2345

    # Pass all authentication along to the target server
    authentication:
      virtualuser-authentication:
        virtualusers:
          zoo: 'md5b09dabe4edc0a5b220f7496af9605293'
          arni: 'pass2'
          username: 'SCRAM-SHA-256$4096:UrxBRgDElbaS4iwfRzn59g==$SErsniXa5gEr03cXhcFPLSM4C/22IKTJ9emThT+wPrM=:rSaLPYfC3eor3cq3f1Zq6Dw2Rl7HwIUHCMP7avpJQak=' # securepassword
        db:
          ssl: true
          user: 'test'
          password: 'test'
    ssl:
      enabled: true
      required: true
      certificate: '/tmp/pg_data/server.crt'
      key: '/tmp/pg_data/server.key'

    # Log messages from this listener to stdout
    logging:
      file:
        level: 'debug'
        out: '-'

    # Databases we will accept requests for,
    #   '*' is a special case matching any database
    databases:
      '*':

