# Log server messages to stdout
logging:
  file:
    level: 'debug'
    out: '-'

listeners:
  # Listen for requests on port `5432`
  - bind: ':5432'
    ssl:
      enabled: true
      required: true
      certificate: '/tmp/pg_data/server.crt'
      key: '/tmp/pg_data/server.key'

    # Log messages from this listener to stdout
    logging:
      file:
        level: 'debug'
        out: '-'
    # Pass all authentication along to the target server
    authentication:
      virtualuser-authentication:
        - name: 'backend1'
          users:
            zoo: 'md55dbb0a6ccb20a0399b301f69616cf4ca' # echo -n pass1zoo | md5sum
            arni: 'pass2'
            username: 'SCRAM-SHA-256$4096:CCKYO5ux7oZ5CcIMzDXw/A==$I0vnZaWMaqCF2xR3/+lMgXwJZKdHILWKFsQm3QpgRp0=:TBiVAuxlUrYOBqnvsVzFISHxwG+aqAyWUcC8ovl5pGs=' # securepassword
            user: 'SCRAM-SHA-256$4096:iLSPyp46KvvOqk' # malformed for test
          # PostgreSQL server to forward requests to
          target:
            host: '127.0.0.1'
            port: 2345
            user: 'test'
            password: 'test'
            # Databases we will accept requests for. Dont set any rows to matching any database
            databases:
              - 'test'
        - name: 'backend2'
          users:
            zoo1: 'md57c045ded2cdcf046f60fc7fe618bed37'
            arni2: 'pass3'
          target:
            host: '127.0.0.1'
            port: 5430
            user: 'plaintestrole'
            password: 'plaintestpassword'

