logging:
  file:
    level: 'debug'
    out: '-'
listeners:
  - bind: ':5432'
    logging:
      file:
        level: 'debug'
        out: '-'
    authentication:
      passthrough:
        target:
          host: '127.0.0.1'
          port: 5430
